In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')

In [3]:
chipo = df.copy()

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [23]:
chipo[chipo.item_name == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price,price_float,price_per_item
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49,8.49
...,...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75

In [18]:
chipo['price_float'] = pd.to_numeric(chipo.item_price.str.slice(1))
(chipo.price_float > 10).sum()

1130

In [19]:
chipo['price_per_item'] = chipo.price_float / chipo.quantity

In [20]:
product_prices = chipo.groupby('item_name').agg({'price_per_item': 'max'})
product_prices.head()

                       price_per_item
item_name
6 Pack Soft Drink                6.49
Barbacoa Bowl                   11.75
Barbacoa Burrito                11.75
Barbacoa Crispy Tacos           11.75
Barbacoa Salad Bowl             11.89

In [22]:
(product_prices.price_per_item > 10).sum()

25

In [25]:
product_prices.sort_index().head()

                       price_per_item
item_name
6 Pack Soft Drink                6.49
Barbacoa Bowl                   11.75
Barbacoa Burrito                11.75
Barbacoa Crispy Tacos           11.75
Barbacoa Salad Bowl             11.89

In [27]:
chipo.price_per_item.idxmax()

281

In [46]:
chipo.loc[281]

order_id                                                            123
quantity                                                              2
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                      $23.78
price_float                                                       23.78
price_per_item                                                    11.89
Name: 281, dtype: object

In [41]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

In [39]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

In [44]:
len(chipo[chipo.item_name == 'Canned Soda'])

104

In [45]:
(chipo[chipo.item_name == 'Canned Soda'].quantity>1).sum()

20