In [1]:
import pandas as pd

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }
df = pd.DataFrame(raw_data)
df.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [4]:
df = df[['name', 'type', 'hp', 'evolution','pokedex']]
df.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [5]:
df['place'] = ['1','2','3','4']
df.head()

         name   type  hp   evolution pokedex place
0   Bulbasaur  grass  45     Ivysaur     yes     1
1  Charmander   fire  39  Charmeleon      no     2
2    Squirtle  water  44   Wartortle     yes     3
3    Caterpie    bug  45     Metapod      no     4

In [6]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [7]:
df.hp.mean()

43.25